<div class="mat-typography app-container">
  <app-dashboard></app-dashboard>
</div>

<!-- <div class="mat-typography app-container">
      <mat-toolbar class="app-main-header" color="primary">
        <span class="mat-display-2">
          <a routerLink="/requirements">
            <img alt="Cognizant" src="shared/images/cognizant-logo.png" title="Cognizant"> 
          </a>
          {{title}}
        </span>
      </mat-toolbar>
    <div class="app-main-body">
      <mat-sidenav-container class="app-sidenav-container mat-elevation-z10">
        <mat-sidenav #sidenav [mode]="!isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall()" class="navlink-sidebar">
          <mat-nav-list>
            <a mat-list-item class="nav-link" color="primary" routerLink="/requirements">Open Requirements</a>
            <hr>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-list-item class="nav-link" color="primary" routerLink="/resourceupload">Resource Upload</a>
            <hr>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="app-sidenav-content">
          <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div> -->


  <!-- <div class="mat-typography">
  <h1 class="mat-display-2">{{title}}</h1>
  <mat-drawer-container color="primary" class="dashboard-container">
    <mat-drawer mode="side" opened>
      <nav>
        <a routerLink="/requirements">Open Requirements</a>
        <button mat-button routerLink="/requirements">Open Requirements</button>
        <br>
        <a routerLink="/resourceupload">Resource Upload</a>
        <button mat-button routerLink="/resourceupload">Resource Upload</button>
      </nav>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div> -->