.app-main-header{
    padding-top: 60px;
}

.nav-link{
    width:auto;
}

.nav-link:hover,
.nav-link:active{
    color: rgba(17, 17, 209, 0.658);
}

.app-container{
    width: 100%;
    height: 100%;
}

